.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.docItemContainer {
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  background-color: var(--ifm-background-surface-color);
  transition: all 0.3s ease;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
